button {
    background: linear-gradient(90deg, rgba(51, 0, 255, 1) 0%, rgba(114, 43, 221, 1) 100%, rgba(0, 0, 0, 0.6811099439775911) 100%);
    color: #fff;
    font-size: 15px;
    font-style: bold;
    padding: 10px 32px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
}

button:hover {
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}

button span {
    padding: 0 15px;
}