.card {
    width: 250px;
    background-color: #fff;
    margin-top: 50px;
    border: 1px solid #fefefe;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(176,176,176,0.75);
    text-align: center;
    padding: 30px 0;
}

.card img {
    width: 60px;
    height: 60px;
}

.card .title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}

.card .price {
    color: #6A20DD;
}
.card .list{
    width: 80%;
    margin: 0 auto;
}

.card .list li { 
    list-style-type: none;
    padding: 10px 0;
    border-top: 1px solid rgb(219, 219, 219);
}

.card ul li:last-of-type{
    border-bottom: 1px solid rgb(219, 219, 219);
}
.wrapped-card {
    text-align: center;
}
.wrapped-card .button{
    position: relative;
    top: -40px;
}

@media screen and (max-width: 1000px) {
    .wrapped-card{
        margin: 0 auto;
    }
}