.icon {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: #fff;
    border: 1px rgb(194, 194, 194) solid;
    border-radius: 5px;
    box-shadow: 1px rgb(194, 194, 194) 1px rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #761DFD;
}